<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/admin/adminCss/adminDriverpage.css" />
  </head>
  <body>
    <div class="main_page">
      <aside><%- include('partials/asidebar.ejs') %></aside>

      <div class="page_container">
        <%- include(`partials/header.ejs`) %>
        <div class="container"></div>
      </div>
    </div>


  </body>
</html>
