* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  
  .main_page {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
  }
  
  .page_container {
    width: 100%;
  }
  
  /* container styling */
  .container {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .container h1 {
    text-align: center;
    color: #101f46;
    margin: 20px;
  }
 
  .booking-card {
    width: 350px;
    background: #fff;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  .booking-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  .booking-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .booking-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  