<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About_us</title>
    <link rel="stylesheet" href="/user/userCss/about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="main_page">
      <%- include('partials/navbar') %>
      <section><%- include('partials/upSection') %></section>

      <div class="hello_popular_section container">
        <div class="main_hello_section">
          <h3>hello !</h3>
          <div class="inner_hello">
            <div class="hello_upSection">
              <h1>WELCOME YOU TO MAULI CABS</h1>
              <p>
                WE are Mauli Cabs , a cab and vehicle rental company based in
                Pune with a commitment to quality service. Founded in 2010 by
                Mr.Bhalerao Kanifnath, the firm was formed by Mr.Kanifnath with
                more than decade of experience in the Tours and Travel niche.
                You can choose us for following reasons
              </p>
            </div>
            <div class="hello_downSection">
              <div class="hello_child_ele">
                <img src="/user/userImages/homeImg/helloSecImg1.png" alt="" />
                <div>
                  <h2>AFFORDABLE PRICE</h2>
                  <p>Best in the market competative Pricing</p>
                </div>
              </div>
              <div class="hello_child_ele">
                <img src="/user/userImages/homeImg/helloSecImg2.png" alt="" />
                <div>
                  <h2>AFFORDABLE PRICE</h2>
                  <p>Best in the market competative Pricing</p>
                </div>
              </div>
              <div class="hello_child_ele">
                <img src="/user/userImages/homeImg/helloSecImg3.png" alt="" />
                <div>
                  <h2>AFFORDABLE PRICE</h2>
                  <p>Best in the market competative Pricing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="main_about_us">
        <figure class="main_about_img"></figure>

        <div class="about_us_down_section">
          <div class="about_us_down_section_para">
            Services have also expanded beyond car rentals to include short
            trips, corporate bookings, bulk bookings, and complete tour
            packages. Mauli Cabs has successfully organized thousands of tours
            near Pune with a track record of providing excellent service. We at
            Mauli Cabs wish you a healthy and happy journey.
          </div>
          <div class="about_us_down_section_para">
            Today, the company has excelled in this business by exceeding the
            standards and quality promised to clients. For weekend tours,
            business trips, or religious places, travellers nowadays hire cabs
            from Mauli Cabs to visit nearby religious places, forts, historical
            monuments, and amusement parks.
          </div>
          <div class="about_us_down_section_para">
            Our fleet of cars includes luxury, semi-luxury, and economical
            models. All of our vehicles are well maintained, and our drivers are
            trained, multilingual, and courteous. Their goal is to ensure that
            your journey goes smoothly, hassle-free, and on time. At the most
            competitive rates, we provide the best cab service. Moreover, Mauli
            Cabs provides taxis for any duration - a full-day cab service and a
            half-day cab service at an affordable rate.
          </div>
          <div class="about_us_down_section_para">
            Mauli Cabs is expanding its fleet and expanding its presence in Pune
            and Mumbai to serve clients more quickly. Providing safe and
            dependable services, Mauli Cabs has an amazing client base and
            market connections. At very affordable and attractive rates, Mauli
            Cabs provide cab rental services in all major cities in Maharashtra.
          </div>
          <div class="about_us_down_section_para">
            With Mauli Cabs, you can be assured of an on-time pick-up, a safe,
            and relaxed trip. Take a cab with us and enjoy a wonderful holiday.
            With Mauli Cabs, renting a cab is so easy. Depending on the occasion
            and requirement, we can provide cabs anywhere at any time. You can
            confirm your bookings by calling our trained staff. Payment options
            include NEFT, IMPS, RTGS, Cash Payment, and Thru Payment Apps like
            GPay, PayTmetc.
          </div>
          <div class="about_us_down_section_para">
            <p>
              <b>Our Vision : </b> The utmost priority of Mauli Cabs is to
              provide our clients with innovative and secure travel solutions.
            </p>
          </div>
          <div class="about_us_down_section_para">
            <p>
              <b>Our Mission : </b> Our mission is to set the benchmark in
              travel services, locally and regionally, and to become the number
              one choice for our clients.
            </p>
          </div>
          <div class="about_us_down_section_para">
            <h2>Why choose Mauli Cabs ?</h2>

            <ul style="list-style-type: disc">
              <li>Customer security and safety is guaranteed.</li>
              <li>Mauli Cabs provides Free Masks for passengers</li>
              <li>
                A fully sanitized car, a driver wearing a mask and hand gloves
              </li>
              <li>Seats isolated from the driver and co-passenger</li>
              <li>Satisfaction of all customers</li>
              <li>With instant confirmation, it's easy to book</li>
              <li>
                Billing that is transparent and free of hidden fees and charges
              </li>
              <li>Drop-off and pickup at your doorstep</li>
              <li>Cancellation policy that is friendly to customers</li>
            </ul>
          </div>
          <div class="about_us_down_section_para">
            <h1>IS THERE ANYTHING HOLDING YOU BACK ?</h1>
            <p class="last_p">
              You are just one click away from confirming your booking with us.
              Book Now .
            </p>
          </div>
        </div>
      </div>

      <div class="footer_attached_background_img">
        <div class="footer_bg_container">
          <div class="up_section_bg_container">
            <h3>CALLBACK FOR MORE</h3>
            <h1>GO TRAVEL.DISCOVER. REMEMBER US!!</h1>
          </div>
          <div class="down_section_bg_container">
            <div class="card">
              <img src="/images/static/about/footer_bgImg_icon1.png" alt="" />
              <div>
                <h2>4000+</h2>
                <p>Satisfied Clients</p>
              </div>
            </div>
            <div class="card">
              <img src="/images/static/about/footer_bgImg_icon2.png" alt="" />
              <div>
                <h2>250+</h2>
                <p>Corporate Clients</p>
              </div>
            </div>
            <div class="card">
              <img src="/images/static/about/footer_bgImg_icon3.png" alt="" />
              <div>
                <h2>40+</h2>
                <p>Drivers</p>
              </div>
            </div>

            <div class="card">
              <img src="/images/static/about/footer_bgImg_icon4.png" alt="" />
              <div>
                <h2>900+</h2>
                <p>Monthly Rides</p>
              </div>
            </div>
          </div>
        </div>
        <footer><%- include('partials/footer') %></footer>
      </div>
    </div>
    <script src="/user/userJs/about.js"></script>
  </body>
</html>
