<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/user/userCss/testimonialsPage.css" />
  </head>
  <body>
    <div class="main_page">
      <!-- navbar -->
      <nav><%- include('partials/navbar') %></nav>
      <section><%- include('partials/upSection') %></section>

      <!-- page content -->
   

      <!-- footer -->
      <footer><%- include('partials/footer') %></footer>
    </div>
    <script src="/user/userJs/contactUs.js"></script>
  </body>
</html>
