/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_page {
  position: relative;
}
section {
  /* position: absolute; */
  top: 0;
}

.enquiry_main_page {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Form Container */
.form_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.form_container h3 {
  margin-bottom: 20px;
  color: #e24d04;
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.form_container h3::before {
  content: "";
  display: block;
  width: 75px;
  height: 3px;
  background: #e24d04;
  position: absolute;
  top: 40%;
  left: 0;
}

.form-group {
  width: 90%;
}

.form-group label {
  display: block;
  margin-left: 5px;
  padding: 10px;
  font-weight: 600;
  color: rgb(97, 92, 92);
}

.form-group input,
.form-group select {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

.form-group input:focus {
  border: 2px solid red;
  outline: none;
}

.form_btn {
  background-color: orangered;
  margin: 20px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form_btn:hover {
  background-color: orange;
}

/* Info Container */
.info_container {
  width: 30%;
  text-align: center;
}

.bankInfo_container h3 {
  font-size: 1.5rem;
  color: rgb(64, 64, 67);
  margin-bottom: 10px;
}

.bankInfo_container p {
  color: rgb(64, 61, 61);
  font-size: 16px;
}

.bankInfo_container img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 1px solid transparent;
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 1080px) {
  .enquiry_main_page {
    flex-direction: column;
    align-items: center;
  }
  .form_container {
    width: 80%;
  }
  .info_container {
    width: 80%;
  }
}

@media (max-width: 708px) {
  .form_container {
    width: 90%;
  }
  .info_container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .form_container {
    width: 100%;
    padding: 15px;
  }
  .form-group input,
  .form-group select {
    padding: 10px;
  }
  .form_btn {
    width: 100%;
    padding: 12px;
  }
  .bankInfo_container img {
    width: 90%;
  }
}
