<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/custmor/custmorCss/custmorDeleteDestinationPage.css"
    />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <body>
    <div class="main_page">
      <aside><%- include('partials/custmorAsidebar') %></aside>
      <div class="page_container">
        <%- include('partials/custmorHeader') %>
        <div class="container">
          <header>
            <h1 width="50%">
              Click the delete button on the destiantion window to delete the destination infomation form your website
            </h1>
           
          </header>

          <div class="destination_windows">
            
            <% if (locals.destinationInfo) { %>


              <% destinationInfo.forEach(destination => { %>
    
                <div class="destination"><figure>
                  <img src="<%= destination.destinationImg%>" alt="">
                  <div class="innerDiv"><a href="/custmor/services/deleteDestination/<%= destination._id %>">Delete</a></div>
                           </figure></div>
               
              <% }) %>
    
             
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="/common/commonJs/alertMsg.js"></script>
  </body>
</html>
