<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/custmor/custmorCss/custmorAddDriverPage.css" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <body>
    <div class="main_page">
      <aside><%- include('partials/custmorAsidebar') %></aside>
      <div class="page_container">
        <%- include('partials/custmorHeader') %>
        <div class="container">
            <h2>Add Driver</h2>
            <form id="driverForm" action="/custmor/services/addDriver" method="post">
                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" required>
        
                <label for="phone">Phone Number:</label>
                <input type="text" id="phone" name="phone" required>
        
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
        
                <label for="license">License Number:</label>
                <input type="text" id="license" name="licenseNumber" required>
        
                <label for="vehicleType">Vehicle Type:</label>
                
                    <select id="vehicleType" name="vehicleType">
                        <% if (locals.carInfo) { %>

                            <% carInfo.forEach(car => { %>
                              <option><%= car.carName %></option>
                             
                            <% }) %>

                         
                        <% } %>

                </select>
        
                <label for="vehicleNumber">Vehicle Number:</label>
                <input type="text" id="vehicleNumber" name="vehicleNumber" required>
        
               
        
                <button type="submit">Add Driver</button>
            </form>        
        </div> 
    </div>
  </div>
  <script src="/common/commonJs/alertMsg.js"></script>
 
</body>
</html>
